.rating{
	position: relative;
	width: 170px;
	height: 34px;
	.overfl{
		overflow: hidden;
		position: relative;
		height: 100%;
	}
	.star{
		position: absolute;
		width: 170px;
		height: 34px;
		top: 0;
		left: 0;
	}
	.icon{
		display: block;
		width: 34px;
		height: 34px;
		overflow: hidden;
		text-align: center;
		& > img{
			width: 30px;
			height: 30px;
		}
	}
}
.psty{
	font-size: 30px !important;
	color:#fd9901 !important;
	font-weight: 100;
	padding-left: 10px !important;
}
