@import 'entry';
#password{
	background-color: #f4f4f4;
	.am-list{
		padding:0 20px;
	}

	.am-list-item .am-input-label.am-input-label-5{
		width: 70px;
	}
	.am-list-item .am-input-control .fake-input-container-left .fake-input-placeholder,.am-list-item .am-input-control input{
		font-size: 28px;
	}
	.test-bg{
		width: 250px;
		height: 92px;
		overflow: hidden;
		margin-left: 20px;
		> img{
			width: 250px;
			height: 92px;
		}
	}
	.psd{
		width: 100%;
		margin-top:48px;
		.psdInput{
			height: 55px;
			width: 100%;
			color: #555555;
			&.padMargin{
				margin-top:18px;
			}

	}
	i{
		display: inline-block;
		width: 40px;
		height: 60px;
		&.psdContent{
			background: url('~images/suo.svg') no-repeat center 15px;
			background-size: 38px;
		}
		&.psdComfir{
			background: url('~images/xiaoyanma.svg') no-repeat center 12px;
			background-size: 50px;
		}
	}
	.bottomBtn{
		padding:0 20px;
	.btn{
		margin-top: 135px;
		height: 92px;
		background-color: #4794fe;
		color: #ffffff;
		text-align: center;
		line-height: 88px;
		border-radius: 10px;
		font-size: 28px;
	}
}
	}
}
